*{
    margin: 0;padding: 0;box-sizing: border-box;

}

#notes{
    /* background-color: blue; */
}
/* .main_card{
     width: 25%;
     height: 150px;
} */
/* .notecard{
    width: 17%;
    height: 20%;
    margin: 10px;
    margin: 10px auto !important; 
    background-color:black;
    color: white;
}  */
